*{
    
}

body{

    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 1fr minmax(280px, 2fr) 1fr;
}

div#mainContainer-bg {

    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: flash 10s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    z-index: 1;
}


@keyframes flash {
    
    2%{opacity: 0;}
    5%{opacity: 0.4;}
    6%{opacity: 0;}
    10% {opacity: 0.5;}
    20%{opacity: 0;}
}

div#mainContainer {

    width: 95%;
    height: 100%;
    z-index: 10;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 2/3;
    display:grid;
}

section#logo-container {
    
    width: 70%;
    justify-self: center;
    padding-top: 70px;

}

img#logo {

    width: 100%;

}

section#contentContainer {

    text-align: center;
    display: grid;
    justify-self: center;
}

h3.sub-heading{

    color: #5d1a17;
    font-size: 1.5em;
}

a#submission-btn {

    margin-bottom: 70px;
    border: 1px solid #5d1a17;
    border-radius: 5px;
    background-color: #5d1a17;
    color: whitesmoke;
    text-decoration: none;
    width: 200px;
    padding: 10px 0px;
    justify-self: center;
    
}