body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100vw;
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-image: url('../img/horror1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr minmax(280px, 2fr) 1fr;
    overflow-x: hidden;
    font-size: 18px;
}

#fadeIn {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 99;
}
div#mainContainer-bg {

    width: 95%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: flash 10s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    z-index: 1;
}


@keyframes flash {
    
    2%{opacity: 0;}
    5%{opacity: 0.4;}
    6%{opacity: 0;}
    10% {opacity: 0.5;}
    20%{opacity: 0;}
}

div#mainContainer {

    width: 95%;
    height: 100%;
    z-index: 10;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 2/3;
    display:grid;
}

section#logo-container {
    
    width: 70%;
    justify-self: center;
    padding-top: 70px;

}

img#logo {

    width: 100%;

}

section#contentContainer {

    text-align: center;
    display: grid;
    justify-self: center;
}

p.main_text {

    text-shadow: 0.7px 0.3px black;
}

h3.sub-heading{
    color: #7a231e;
    font-size: 1.5em;
    text-shadow: 1px 0.5px black;
    text-transform: uppercase;
}

a.submission-btn {
    margin-bottom: 20px;
    font-weight: bold;
    border: 1px solid #7a231e;
    border-radius: 5px;
    background-color: #7a231e;
    color: whitesmoke;
    text-decoration: none;
    width: 200px;
    padding: 10px 0px;
    justify-self: center;
}
#submission-btn:hover {
    background-color: #cc3a32;
    transition: 0.5s ease-in-out;
}

footer {

    padding: 10px 0px;
    background-color: rgba(0,0,0,0.7);
    grid-column: 1/4;
    display: flex;
    justify-content: space-evenly;

}

a.social_midia_links {

    text-decoration: none;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
}

p.social_midia_text {

    margin-left: 10px;
}

img.footer_icons {

    width: 40px;

}